@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../assets/font/Poppins/Poppins-Regular.ttf);
}

.default-prio-bg {
  background-color: #ffffff;
}

.urgent-prio-bg {
  background-color: #ff3d00;
}

.medium-prio-bg {
  background-color: #ffa800;
}

.low-prio-bg {
  background-color: #7ae229;
}

.weight-700 {
  font-weight: 700;
}

.add-task-content-wrapper {
  font-family: "Inter", sans-serif;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.required-error-message {
  font-size: 12px;
  font-weight: 400;
  color: #ff8190;
  font-family: "Poppins", sans-serif;
}

.add-task-body {
  overflow-y: hidden;
}

.add-task-header-wrapper {
  margin-top: 110px;
  position: relative;
}

.add-task-content {
  font-weight: 400;
}

.add-task-form {
  height: 100%;
  margin-top: 16px;
}

.add-task-title {
  font-size: 61px;
  font-weight: 700;
  color: #000000;
  margin-top: 96px;
}

.form-inputs {
  position: relative;
  width: 440px;
  height: 100%;
  justify-content: flex-start;
}

.form-inputs-right {
  margin-top: 40px;
  top: 0;
}

/* general  input fields styling */

.task-input-fields {
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  background-color: #ffffff;
}

.task-input-fields-invalid {
  border: 1px solid #ff8190 !important;
}

.task-input-fields:invalid:not(:placeholder-shown) {
  border: 1px solid #ff8190;
}

.task-input-fields::-webkit-input-placeholder {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.task-input-fields:focus,
.date-picker:focus {
  outline: 0;
  border: 1px solid #29abe2;
}

/* general description styling */

.task-description-input.wrapper {
  position: relative;
}

.task-description-text {
  border: 1px solid #d1d1d1;
  padding: 18px 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
  height: 120px;
  width: 440px;
  resize: none;
  position: relative;
}

.task-description-text:focus {
  outline: 0;
}

.task-description-text::-webkit-input-placeholder {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.task-description-input.wrapper::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  background: url(../assets/img/icons/resizer.png) no-repeat 100% 100%;
  background-size: cover;
  pointer-events: none;
}

/* date picker styling*/

.date-picker {
  background: url(../assets/img/icons/date-picker.png) no-repeat 95% 50%;
  background-size: 20px;
  background-color: #ffff;
  color: #000000;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
}

#task-title:hover,
.task-description-text:hover,
.subtask-item-input:hover,
.subtask-input:hover,
.subtask-input-wrapper:hover,
.date-picker:hover {
  cursor: pointer;
}

/* separator styling */

.separator {
  width: 1px;
  background-color: #d1d1d1;
  height: 424px;
}

/* priorities styling */

.priority-labels {
  padding: 16px 10px;
  text-align: center;
  width: 136px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.priority-labels:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* assigned to styling */
.dropdown-field-wrapper {
  position: relative;
  width: 100%;
}

.dropdown-input-wrapper {
  width: 100%;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  padding-right: 16px;
  z-index: 45;
  position: relative;
}

.dropdown-input-wrapper:hover {
  cursor: pointer;
  border: 1px solid #a8a8a8;
}

.dropdown-input {
  cursor: pointer;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: none;
}

.dropdown-input:focus {
  outline: 0;
}

.dropdown-input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.dropdown-input:disabled {
  cursor: pointer;
  background-color: #ffffff;
  pointer-events: none;
}

.dropdown-input::-webkit-input-placeholder {
  color: #000000;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.dropdown-icon-closed {
  background: url(../assets/img/icons/arrow_drop_down.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-left: 0;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.dropdown-icon-closed:hover {
  background: url(../assets/img/icons/arrow_drop_down_hover.png) no-repeat 50%
    50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dropdown-icon-open {
  background: url(../assets/img/icons/arrow_drop_down_reverse.png) no-repeat 50%
    50%;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-left: 0;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.dropdown-icon-open:hover {
  background: url(../assets/img/icons/arrow_drop_down_reverse_hover.png)
    no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dropdown-wrapper {
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding-top: 8px;
  margin-top: 0; 
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
}

.dropdown {
  overflow-y: auto;
  max-height: 240px;
}

.task-description-text:focus,
.dropdown-input-wrapper:focus-within {
  border: 1px solid #29abe2;
}
/* checkbox unchecked styling */

.single-contact-wrapper {
  background-color: #ffffff;
  list-style: none;
  padding: 7px 8px;
}

.single-contact-wrapper:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.single-contact-icon {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  /* background-color: #1fd7c1; */
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
  font-size: 12px;
  font-weight: 400;
}

#assignees-list {
  justify-content: flex-start;
  padding-top: 8px;
  gap: 8px;
}

/* checkbox unchecked styling */

.single-contact-checkbox-unchecked {
  background: url(../assets/img/icons/checkbox_unchecked.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

/* checkbox checked styling */

.single-contact-wrapper-checked {
  background-color: #091931;
  list-style: none;
  padding: 7px 8px;
  color: #ffffff;
}

.single-contact-checkbox-checked {
  background: url(../assets/img/icons/check-button-checked.png) no-repeat 50%
    50%;
  width: 24px;
  height: 24px;
}

.single-contact-wrapper-checked:hover {
  background-color: #2a3647;
  cursor: pointer;
}

/* assigned-to scrollbar styling */

.dropdown::-webkit-scrollbar {
  width: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: url(../assets/img/icons/thumb.png) no-repeat center;
}

.dropdown::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.dropdown::-webkit-scrollbar-button {
  width: 20px;
  height: 20px;
  color: #d1d1d1;
  background-color: #ffffff;
}

.dropdown::-webkit-scrollbar-button:vertical:start {
  background: url(../assets/img/icons/scroll_up_arrow.png) no-repeat center;
  background-size: contain;
  margin-top: 256px;
}

.dropdown::-webkit-scrollbar-button:vertical:end {
  background: url(../assets/img/icons/scroll_down_arrow.png) no-repeat center;
  background-size: contain;
}

.dropdown::-webkit-scrollbar-button:vertical:start:increment,
.dropdown::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

/* category list elements styling */

.categories {
  padding: 12px 16px;
  background-color: #ffffff;
}

.categories:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

/* subtasks styling */

.subtask-input-wrapper {
  width: 100%;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  padding-right: 16px;
}

.subtask-input-wrapper:focus-within {
  border: 1px solid #29abe2;
}

.subtask-input {
  border: none;
  padding: 12px 0 12px 16px;
  border-radius: 10px 0 0 10px;
}

.subtask-input:focus {
  outline: 0;
}

.subtask-input::-webkit-input-placeholder {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.add-subtask-icon {
  background: url(../assets/img/icons/add_subtask_icon.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  border-radius: 0px 10px 10px 0px;
}

.add-subtask-icon:hover {
  background: url(../assets/img/icons/add_subtask_icon_hover.png) no-repeat 50%
    50%;
  cursor: pointer;
}

.confirm-input-icons {
  gap: 4px;
}

.clear-icon {
  background: url(../assets/img/icons/clear_icon.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  display: none;
}

.clear-icon:hover {
  background: url(../assets/img/icons/clear_icon_hover.png) no-repeat 50% 50%;
  cursor: pointer;
  transform: scale(1.05);
}

.confirm-input-icons-separator,
.confirm-input-icons-separator-1,
.confirm-input-icons-separator-2 {
  height: 24px;
  color: #d1d1d1;
  display: none;
}

.confirm-input-icons .confirm-icon,
.confirm-input-icons .clear-icon,
.confirm-input-icons .confirm-input-icons-separator {
  display: flex;
}

.confirm-input-icons .add-subtask-icon {
  display: none;
}

.confirm-icon {
  background: url(../assets/img/icons/confirm_icon.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  display: none;
}

.confirm-icon:hover {
  background: url(../assets/img/icons/confirm_icon_hover.png) no-repeat 50% 50%;
  cursor: pointer;
  transform: scale(1.05);
}

.subtask-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.subtask-list-item {
  padding: 6px 16px 6px 16px;
  display: flex;
  align-items: baseline;
  list-style-type: none;
  background: transparent;
}

.subtask-list-item-active {
  list-style-type: none;
  padding: 6px 16px 6px 16px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #29abe2;
}

.subtask-list-item-content-wrapper {
  width: 100%;
  padding-left: 8px;
}

.subtask-list-item:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.subtask-item-input {
  border: none;
  font-size: 16px;
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  outline: 0;
  line-height: 24px !important;
}

.subtask-item-input:disabled {
  background: transparent;
  pointer-events: none;
}

/* styling icons */

.subtask-list-item:hover .edit-marker,
.subtask-list-item:hover .delete-marker,
.subtask-list-item:hover .confirm-input-icons-separator-1 {
  display: flex;
}

.edit-subtask-icons {
  gap: 4px;
}

.subtask-list-item-active .delete-marker,
.subtask-list-item-active .confirm-icon,
.subtask-list-item-active .confirm-input-icons-separator-2 {
  display: flex;
}

.subtask-list-item-active span:first-child {
  display: none;
}

.edit-marker {
  background: url(../assets/img/icons/edit.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  display: none;
}

.edit-marker:hover {
  background: url(../assets/img/icons/subtask_edit_hover.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: scale(1.05);
}

.delete-marker {
  background: url(../assets/img/icons/delete_icon.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}

.delete-marker:hover {
  background: url(../assets/img/icons/delete_icon_hover.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: scale(1.05);
}

/* styling bottom section */

.add-task-footer {
  width: 100%;
  z-index: 50;
  margin-top: 80px;
}

.text-container {
  font-size: 16px;
  font-weight: 400;
  align-items: flex-end;
  height: 100%;
  margin-top: 32px;
}

.clearBtn {
  background-color: #ffffff;
  border: 1px solid #2a3647;
  color: #2a3647;
  font-weight: 400;
  padding: 16px;
  gap: 4px;
}

.clearBtn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #29abe2;
  border: 1px solid #29abe2;
  cursor: pointer;
}

.cancel-icon {
  background: url(../assets/img/icons/cancel.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.clearBtn:hover .cancel-icon {
  background: url(../assets/img/icons/cancel_hover.png) no-repeat 50% 50%;
  height: 24px;
  width: 24px;
}

.createBtn {
  border: 1px solid #2a3647;
  background-color: #2a3647;
  color: #ffffff;
  padding: 16px;
  gap: 4px;
  font-weight: 700;
}

.createBtn:hover {
  cursor: pointer;
  border: 1px solid #29abe2;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.checkmark-icon {
  background: url(../assets/img/icons/check-mark-icon.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.clearBtn:active {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #091931;
  color: #091931;
}

.clearBtn:active .cancel-icon {
  background: url(../assets/img/icons/cancel_click.png) no-repeat 50% 50%;
  height: 24px;
  width: 24px;
}

.createBtn:active {
  border: 1px solid #2a3647;
  background-color: #091931;
}

.only-responsive {
  display: none !important;
}
