@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../assets/font/Poppins/Poppins-Regular.ttf);
}

.required-error-message {
  font-size: 12px;
  font-weight: 400;
  color: #ff8190;
  font-family: "Poppins", sans-serif;
}

.add-task-body {
  overflow-y: hidden;
}

.add-task-header-wrapper {
  margin-top: 96px;
  position: relative;
 
}

.add-task-content {
  position: absolute;
  top: 231px;
  font-weight: 400;
  height: 424px;
}

.add-task-form {
  height: 100%;
}

.add-task-title {
  font-size: 74px;
  font-weight: 700;
  color: #000000;
}

.form-inputs {
  width: 440px;
  height: 100%;
  justify-content: flex-start;
}

/* general  input fields styling */

.task-input-fields {
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  background-color: #ffffff;
}

.task-input-fields-invalid {
  border: 1px solid #ff8190;
}

.task-input-fields::-webkit-input-placeholder {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.task-input-fields:focus {
  outline: 0;
  border: 1px solid #29abe2;
}

/* general description styling */

.task-description-text {
  border: 1px solid #d1d1d1;
  padding: 18px 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
  height: 120px;
  width: 440px;
}

.task-description-text:focus {
  outline: 0;
}

.task-description-text::-webkit-input-placeholder {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.task-description-text:focus {
  border: 1px solid #29abe2;
}

.task-description-text::-webkit-resizer {
  background: url(../assets/img/icons/resizer.png) no-repeat 100% 100%;
  background-size: 18px;
}

/* date picker styling*/

.date-picker::-webkit-calendar-picker-indicator {
  background: transparent;
}

.date-picker {
  background: url(../assets/img/icons/date-picker.png) no-repeat 95% 50%;
  background-size: 20px;
  background-color: #ffff;
  color: #000000;
}

.date-picker:hover {
  cursor: pointer;
}

.date-picker::-webkit-datetime-edit {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.date-picker:focus::-webkit-datetime-edit {
  color: #000000;
}

/* separator styling */

.separator {
  width: 1px;
  background-color: #d1d1d1;
  height: 424px;
}

/* priorities styling */

.priority-labels {
  padding: 16px 10px;
  background-color: #ffffff;
  text-align: center;
  width: 136px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.priority-labels:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* assigned to styling */

.dropdown-input-wrapper {
  width: 100%;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  padding-right: 16px;
  z-index: 45;
}

.dropdown-input-wrapper:hover {
  cursor: pointer;
  border: 1px solid #a8a8a8;
}

.dropdown-input {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: none;
}

.dropdown-input:disabled {
  cursor: pointer;
  background-color: #ffffff;
}

.dropdown-input::-webkit-input-placeholder {
  color: #000000;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.dropdown-icon-closed {
  background: url(../assets/img/icons/arrow_drop_down.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-left: 0;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.dropdown-icon-closed:hover {
  background: url(../assets/img/icons/arrow_drop_down_hover.png) no-repeat 50%
    50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dropdown-wrapper {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding-top: 8px;
  margin-top: -8px;
  z-index: 1;
  gap: 2px;
  max-height: 256px;
}

.dropdown {
  overflow-y: auto;
  max-height: 240px;
}

/* checkbox unchecked styling */

.single-contact-wrapper {
  background-color: #ffffff;
  list-style: none;
  padding: 7px 8px;
}

.single-contact-wrapper:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.single-contact-icon {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  background-color: #1fd7c1;
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
  font-size: 12px;
  font-weight: 400;
}

.single-contact-checkbox-unchecked {
  background: url(../assets/img/icons/checkbox_unchecked.png) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

/* checkbox checked styling */

.single-contact-wrapper-checked {
  background-color: #091931;
  list-style: none;
  padding: 7px 8px;
  color: #ffffff;
}

.single-contact-checkbox-checked {
  background: url(../assets/img/icons/check-button-checked.png) no-repeat 50%
    50%;
  width: 24px;
  height: 24px;
}

.single-contact-wrapper-checked:hover {
  background-color: #2a3647;
  cursor: pointer;
}

/* assigned-to scrollbar styling */

.dropdown::-webkit-scrollbar {
  width: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: url(../assets/img/icons/thumb.png) no-repeat center;
}

.dropdown::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.dropdown::-webkit-scrollbar-button {
  width: 20px;
  height: 20px;
  color: #d1d1d1;
  background-color: #ffffff;
}

.dropdown::-webkit-scrollbar-button:vertical:start {
  background: url(../assets/img/icons/scroll_up_arrow.png) no-repeat center;
  background-size: contain;
  margin-top: 256px;
}

.dropdown::-webkit-scrollbar-button:vertical:end {
  background: url(../assets/img/icons/scroll_down_arrow.png) no-repeat center;
  background-size: contain;
}

.dropdown::-webkit-scrollbar-button:vertical:start:increment,
.dropdown::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

/* category list elements styling */

.categories-dropdown-wrapper {
  margin-top: -16px;
}

.categories {
  padding: 12px 16px;
  background-color: #ffffff;
}

.categories:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

/* subtasks styling */

.add-task-bottom {
  display: flex;
  align-items: center;
  margin-top: 600px;
  
}

.text-bottom {
  font-size: 20px;
  margin-right: 480px;
}

.button {
  padding: 12px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.clearBtn {
  background-color: #ffffff;
  border: 1px solid #2a3647 !important;
  color: #2a3647;
  position: relative;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 8px;
}

.clearBtn:hover {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
  color: #29abe2;
  border: 1px solid #29abe2;
}

.createBtn {
  background-color: #2a3647;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.createBtn:hover {
  background-color: #29abe2;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}



