@font-face {
  font-family: "Figtree", serif;
  src: url(../assets/font/Figtree-Oxanium-Ubuntu/Figtree/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/font/Inter/Inter-VariableFont_opsz\wght.ttf);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #f6f7f8;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

/* generic templates styling */

#sidebarRef {
  position: absolute;
  top: 0;
  left: 0;
}

#headerRef {
  width: 100%;
}

.sidebar {
  position: relative !important;
}

.pd-8-16 {
  padding: 8px 16px;
}

.pd-l-r-64 {
  padding-left: 64px;
  padding-right: 64px;
}

/* board styling */

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Inter", sans-serif !important;
}

/* board header */

.board-header-wrapper {
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1920px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 232px);
  left: 232px;
  position: absolute;
}
.board-title {
  font-size: 74px;
  font-weight: 700;
  color: #000000;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.search {
  width: 312px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  height: 48px;
}

.search input {
  height: 32px;
  border: none;
  border-right: 0;
  border-radius: 10px 0px 0px 10px;
  line-height: 24px;
  font-size: 20px;
  width: 232px;
}

.search input:focus {
  outline: 0;
  border-right: 0;
}

.search input::-webkit-input-placeholder {
  color: #d1d1d1;
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.search-icon {
  height: 32px;
  width: 48px;
  border-left: 1px solid #a8a8a8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../assets/img/icons/search.png);
  background-repeat: no-repeat;
  background-position: 80% 50%;
}

.search-icon:hover {
  background-image: url(../assets/img/icons/search-hover.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.search:focus-within {
  border: 1px solid #29abe2;
}

.add-task-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: #2a3647;
  height: 48px;
  width: 160px;
  color: #ffffff;
  font-size: 21px;
  padding: 12px 16px;
}

.add-task-button span:nth-child(1) {
  font-weight: 700;
  width: 100px;
}

.plus {
  background-image: url(../assets/img/icons/add.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 50% 50%;
  height: 32px;
  width: 32px;
}

.add-task-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

/* board body */

.board-wrapper {
  max-width: 1920px;
  width: 100%;
  position: relative;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 232px);
  left: 232px;
  position: absolute;
  gap: 24px;
}

.board-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 246px;
  gap: 10px;
}

.column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #42526e;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.column-content-wrapper {
  display: flex;
  flex-direction: column;
}

.add-task-icon {
  background-image: url(../assets/img/icons/add-task-icon-default.png);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.add-task-icon:hover {
  background-image: url(../assets/img/icons/add-task-icon-hover.png);
}

.no-tasks-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dotted #a8a8a8;
  width: 252px;
  border-radius: 10px;
  font-size: 16px;
  color: #a8a8a8;
}
