html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  height: 96px !important;
}

.contact-content {
  flex: 1;
  display: flex;
  margin-left: 232px;
  box-shadow: 0px 0px 4px 6px #0000000a;
  min-height: 0;
}

.contacts-container {
  display: flex;
  width: 100%;
  flex: 1;
  min-height: 0;
  width: 456px;
}

.contacts-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 1px solid #eee;
  min-height: 0;
  padding: 8px;
}

.add-contact-btn {
  margin: 20px;
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  width: 352px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: rgba(42, 54, 71, 1);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-contact-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.add-contact-img {
  width: 28px;
  margin-left: 12px;
}

.contacts-list {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 20px 20px;
  min-height: 0;
}

.contacts-list::-webkit-scrollbar {
  width: 8px;
}

.contacts-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: none;
}

.contact-group {
  margin-bottom: 20px;
}

.contact-group-letter {
  padding-left: 36px;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.contact-group-letter::after {
  content: "";
  display: block;
  width: 352px;
  margin-left: -36px;
  margin-top: 16px;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 352px;
  height: 78px;
  border-radius: 10px;
}

.contact-item:hover {
  background-color: #f6f7f8;
}

.contact-item.selected {
  background-color: rgba(42, 54, 71, 1);
  color: white;
}

.contact-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #999;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 28px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-name {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}

.contact-item.selected .contact-name {
  color: #fff;
}

.contact-email {
  font-size: 16px;
  color: #29abe2;
}

.contact-item.selected .contact-email {
  color: #29abe2;
}

.contacts-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.contacts-right-top {
  height: 73px;
  padding-top: 100px;
  padding-bottom: 32px;
  padding-left: 40px;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
}

.contacts-title {
  margin: 0;
  font-size: 61px;
  color: rgba(0, 0, 0, 1);
}

.vertical-line {
  border-left: 3px solid #29abe2;
  height: 59px;
  margin: 0 10px;
}

.contacts-subtitle {
  margin-top: 10px;
  font-size: 27px;
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
  text-align: center;
}

.background-color-contacts {
  background-color: #f6f7f8;
  height: 100vh;
}

.contacts-right-bottom {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  background-color: #f6f7f8;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: #f6f7f8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: #f6f7f8;
  }
}

.contacts-right-bottom.slide-in {
  animation: slideInFromRight 0.4s ease-out forwards;
}

.contact-details-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.contact-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-avatar-large {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  color: #fff;
  font-weight: 500;
  font-size: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

.name-action-alignment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.details-name {
  font-size: 47px;
  font-weight: 500;
  margin: 0;
}

.contact-details-actions-containter {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.contact-details-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
}

.contact-details-actions-1 button {
  color: rgba(42, 54, 71, 1);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f7f8;
  display: flex;
  text-align: center;
  align-items: center;
}

.contact-details-actions-2 button {
  color: rgba(42, 54, 71, 1);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f7f8;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 8px;
}

.actions-img {
  width: 16px;
  height: 18px;
  margin-right: 8px;
  filter: grayscale(100%) brightness(20%) contrast(150%);
}

.contact-details-actions-1 button:hover {
  color: #29abe2;
  font-weight: bold;
}

.contact-details-actions-1 button:hover .actions-img {
  filter: invert(48%) sepia(73%) saturate(2032%) hue-rotate(181deg)
    brightness(98%) contrast(95%);
}

.contact-details-actions-2 button:hover {
  color: #29abe2;
  font-weight: bold;
}

.contact-details-actions-2 button:hover .actions-img {
  filter: invert(48%) sepia(73%) saturate(2032%) hue-rotate(181deg)
    brightness(98%) contrast(95%);
}

.details-label {
  font-size: 20px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 28px;
  color: rgba(0, 0, 0, 1);
}

.details-info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.details-info div {
  margin-bottom: 15px;
}

.details-info strong {
  margin-right: 5px;
}

.email-address {
  color: #29abe2;
  cursor: pointer;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, background 0.3s ease;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.hidden {
  pointer-events: none;
}

#error-message {
  color: red;
  display: none;
  margin-left: -70px;
  margin-bottom: 16px;
}

.overlay.open {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: auto;
}

.add-contact-modal {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 1212px;
  width: 100%;
  height: 592px;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.overlay.open .add-contact-modal {
  transform: translateX(0);
}

.overlay-close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  font-size: 32px;
  color: #2a3647;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 50%;
}

.overlay-close-btn:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.add-contact-drawer-left {
  background-color: #2a3647;
  color: #ffffff;
  width: 467px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.add-contact-logo {
  width: 55.6px;
  margin-bottom: 8px;
}

.add-contact-title {
  margin: 0;
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 10px;
}

.add-contact-subtitle {
  margin: 0;
  font-size: 27px;
  margin-bottom: 16px;
}

.add-contact-drawer-right {
  flex: 1;
  margin-right: -90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alignment-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.add-contact-avatar {
  margin-bottom: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  margin-left: -90px;
  margin-top: 30px;
}

.add-contact-avatar img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-right: 70px;
}

.contact-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 340px;
  margin-right: 45px;
}

.contact-data label {
  position: relative;
  display: block;
}

.input-field {
  width: 422px;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
}

.input-field:focus {
  outline: none;
  border: 1px solid #29abe2;
}

.imgs-input_contact {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.add-contact-buttons {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  margin-left: 90px;
}

#cancelAddContact,
#createContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #2a3647;
  gap: 4px;
  cursor: pointer;
}

#cancelAddContact {
  background-color: #ffffff;
  color: #2a3647;
}

#cancelAddContact:active {
  border: 1px solid #091931;
  color: #091931;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-icon {
  background-image: url(../assets/img/icons/cancel.png);
  width: 24px;
  height: 24px;
}

#cancelAddContact:hover .cancel-icon {
  background-image: url(../assets/img/icons/cancel_hover.png);
}

#cancelAddContact:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#createContact {
  background-color: #2a3647;
  color: #ffffff;
  font-weight: 700;
}

#createContact:hover {
  border: 1px solid #29abe2;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#createContact:active {
  border: 1px solid #2a3647;
  background-color: #091931;
}

.checkmark-icon {
  background: url(../assets/img/icons/check-mark-icon.png) no-repeat center
    center;
  width: 24px;
  height: 24px;
}

.delete-btn-contact {
  display: none;
}

.avatar-initials {
  height: 140px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
}

.edit-avatar {
  margin-right: 90px;
}

.only-responsive {
  display: none !important;
}


@media (max-width: 1200px) {
  .contact-content {
    margin-left: 0; 
  }

}

@media (max-width: 900px) {
  .contacts-right {
    display: none;
  }

  .contacts-container {
    display: flex;
    justify-content: center;
  }

  .add-contact-btn {
    position: fixed;
    bottom: 80px;
    right: 1px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 100;
    font-size: 0;
    justify-content: center;
  }

  .add-contact-btn img {
    margin: 0;
 
  }

  .contact-group-letter {
    margin-top: 17px;
  }
}