html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  height: 96px !important;
}

.contact-content {
  flex: 1;
  display: flex;
  margin-left: 232px;
  box-shadow: 0px 0px 4px 6px #0000000a;
  min-height: 0;
}

.contacts-container {
  display: flex;
  width: 100%;
  flex: 1;
  min-height: 0;
  width: 456px;
}

.contacts-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 1px solid #eee;
  min-height: 0;
  padding: 8px;
}

.add-contact-btn {
  margin: 20px;
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  width: 352px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: rgba(42, 54, 71, 1);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-contact-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.add-contact-img {
  width: 28px;
  margin-left: 12px;
}

.contacts-list {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 20px 20px;
  min-height: 0;
}

.contacts-list::-webkit-scrollbar {
  width: 8px;
}

.contacts-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: none;
}

.contact-group {
  margin-bottom: 20px;
}

.contact-group-letter {
  padding-left: 36px;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.contact-group-letter::after {
  content: "";
  display: block;
  width: 352px;
  margin-left: -36px;
  margin-top: 16px;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 352px;
  height: 78px;
  border-radius: 10px;
}

.contact-item:hover {
  background-color: #f6f7f8;
}

.contact-item.selected {
  background-color: rgba(42, 54, 71, 1);
  color: white;
}

.contact-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #999;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 28px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-name {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}

.contact-item.selected .contact-name {
  color: #fff;
}

.contact-email {
  font-size: 16px;
  color: #29abe2;
}

.contact-item.selected .contact-email {
  color: #29abe2;
}

.contacts-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.contacts-right-top {
  height: 73px;
  padding-top: 100px;
  padding-bottom: 32px;
  padding-left: 40px;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
}

.contacts-title {
  margin: 0;
  font-size: 61px;
  color: rgba(0, 0, 0, 1);
}

.vertical-line {
  border-left: 3px solid #29abe2;
  height: 59px;
  margin: 0 10px;
}

.contacts-subtitle {
  margin-top: 10px;
  font-size: 27px;
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
  text-align: center;
}

.background-color-contacts {
  background-color: #f6f7f8;
  height: 100vh;
}

.contacts-right-bottom {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  background-color: #f6f7f8;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: #f6f7f8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: #f6f7f8;
  }
}

.contacts-right-bottom.slide-in {
  animation: slideInFromRight 0.4s ease-out forwards;
}

.contact-details-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.contact-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-avatar-large {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  color: #fff;
  font-weight: 500;
  font-size: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

.name-action-alignment {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.details-name {
  font-size: 47px;
  font-weight: 500;
  margin: 0;
}

.contact-details-actions-containter {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.contact-details-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
}

.contact-details-actions-1 button {
  color: rgba(42, 54, 71, 1);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f7f8;
  display: flex;
  text-align: center;
  align-items: center;
}

.contact-details-actions-2 button {
  color: rgba(42, 54, 71, 1);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f7f8;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 8px;
}

.actions-img {
  width: 16px;
  height: 18px;
  margin-right: 8px;
  filter: grayscale(100%) brightness(20%) contrast(150%);
}

.contact-details-actions-1 button:hover {
  color: #29abe2;
  font-weight: bold;
}

.contact-details-actions-1 button:hover .actions-img {
  filter: invert(68%) sepia(58%) saturate(747%) hue-rotate(165deg)
    brightness(95%) contrast(90%);
}

.contact-details-actions-2 button:hover {
  color: #29abe2;
  font-weight: bold;
}

.contact-details-actions-2 button:hover .actions-img {
  filter: invert(68%) sepia(58%) saturate(747%) hue-rotate(165deg)
    brightness(95%) contrast(90%);
}

.details-label {
  font-size: 20px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 28px;
  color: rgba(0, 0, 0, 1);
}

.details-info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.details-info div {
  margin-bottom: 15px;
}

.details-info strong {
  margin-right: 5px;
}

.email-address {
  color: #29abe2;
  cursor: pointer;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, background 0.3s ease;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.hidden {
  pointer-events: none;
}

#error-message {
  color: red;
  display: none;
  margin-left: -70px;
  margin-bottom: 16px;
}

.overlay.open {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: auto;
}

.add-contact-modal {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 1212px;
  width: 100%;
  height: 592px;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 100000;
}

.overlay.open .add-contact-modal {
  transform: translateX(0);
}

.overlay-close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  font-size: 32px;
  color: #2a3647;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 50%;
}

.overlay-close-btn:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.add-contact-drawer-left {
  background-color: #2a3647;
  color: #ffffff;
  width: 467px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.add-contact-logo {
  width: 55.6px;
  margin-bottom: 8px;
}

.add-contact-title {
  margin: 0;
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 10px;
}

.add-contact-subtitle {
  margin: 0;
  font-size: 27px;
  margin-bottom: 16px;
}

.add-contact-drawer-right {
  flex: 1;
  margin-right: -90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alignment-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.alignment-right-edit {
  gap: 70px;
}

.add-contact-avatar {
  margin-bottom: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  margin-left: -90px;
  margin-top: 30px;
}

.add-contact-avatar img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-right: 70px;
}

.contact-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 340px;
  margin-right: 45px;
}

.contact-data label {
  position: relative;
  display: block;
}

.input-field {
  width: 422px;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
}

.input-field:focus {
  outline: none;
  border: 1px solid #29abe2;
}

.imgs-input_contact {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.add-contact-buttons {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  margin-left: 90px;
}

.add-contact-buttons-edit {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  margin-left: -24px;
}

.cancel-btn,
.submit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #2a3647;
  gap: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ffffff;
  color: #2a3647;
}

.cancel-icon {
  background-image: url(../assets/img/icons/cancel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.cancel-btn:active {
  border: 1px solid #091931;
  color: #091931;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-btn:hover .cancel-icon {
  background-image: url(../assets/img/icons/cancel_hover.png);
}

.cancel-btn:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-btn {
  background-color: #2a3647;
  color: #ffffff;
  font-weight: 700;
}

.submit-btn:hover {
  border: 1px solid #29abe2;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-btn:active {
  border: 1px solid #2a3647;
  background-color: #091931;
}

.checkmark-icon {
  background: url(../assets/img/icons/check-mark-icon.png) no-repeat center
    center;
  width: 24px;
  height: 24px;
}

.delete-btn-contact {
  display: none;
}

.avatar-initials {
  height: 140px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
}

.edit-avatar {
  margin-right: 90px;
}

.only-responsive {
  display: none !important;
}

.mobile-only-goback {
  display: none;
}

#menuDotsBtn {
  position: fixed;
  bottom: 80px;
  right: 1px;
  border-radius: 50%;
  padding: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  border: none;
  display: none;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.dropup-menu {
  position: fixed;
  bottom: 90px;
  right: 8px;
  background: white;
  border-radius: 12px 12px 0 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 12px;
  width: 116px;
  height: 100px;
  z-index: 1000;
  display: none;
  opacity: 0;
  transform: translateX(100%);
  transition: none;
}

.dropup-menu.show {
  display: block;
  animation: slideInFromRight 0.25s ease forwards;
}

.dropup-menu.hide {
  animation: slideOutToRight 0.25s ease forwards;
}

.dropup-menu .menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropup-menu .menu-item:hover {
  background-color: #f0f0f0;
}

.dropup-menu .menu-item:hover img {
  filter: invert(68%) sepia(58%) saturate(747%) hue-rotate(165deg)
    brightness(95%) contrast(90%);
}

.dropup-menu .menu-item:hover span {
  font-weight: bold;
  color: #29abe2;
}

.success-message {
  position: fixed;
  width: 326px;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a3647;
  color: white;
  padding: 24px 16px;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.success-message.show {
  animation: flyInOut 1.5s ease forwards;
  pointer-events: auto;
}

@keyframes flyInOut {
  0% {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .overlay {
    padding: 8px;
  }

  .add-contact-modal {
    transform: translateY(100%);
  }

  .overlay.open .add-contact-modal {
    transform: translateY(0);
  }

  .contact-content {
    margin-left: 0;
  }

  .add-contact-modal {
    flex-direction: column;
    max-width: 396px;
    height: 760px;
  }

  .add-contact-logo {
    display: none;
  }

  .add-contact-drawer-left {
    height: 352px;
    width: 396px;
    padding: 16px;
  }

  .overlay-close-btn {
    color: white;
    top: 16px;
    right: 16px;
  }

  .add-contact-title {
    font-size: 47px;
    gap: 8px;
  }

  .add-contact-subtitle {
    font-size: 20px;
  }

  .add-contact-drawer-right {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 396px;
  }

  .alignment-right {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -180px;
  }

  .alignment-right-edit {
    gap: 0px;
  }

  .add-contact-avatar,
  .add-contact-avatar img {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    overflow: visible !important;
    object-fit: contain;
    border: 0;
  }

  .contact-data {
    margin-right: 0;
    width: 364px;
  }

  .input-field {
    max-width: 364px;
  }

  .imgs-input_contact {
    right: 16px;
  }

  .add-contact-buttons {
    margin-left: 24px;
    gap: 16px;
  }

  .add-contact-buttons-edit {
    margin-top: 32px;
  }

  #cancelAddContact {
    display: none !important;
    height: 51px;
    margin-top: 18px;
    margin-left: 0px !important;
  }

  #createContact {
    gap: 4px;
    margin-top: 18px;
    height: 51px;
  }

  #error-message {
    margin-left: 0px;
    margin-top: 8px;
  }

  #cancelAddContact.show-delete-btn {
    display: flex !important;
  }
}

@media (max-width: 900px) {
  .contacts-right-top {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin-top: 48px;
    margin-left: 16px;
    height: 104px;
  }

  .contacts-right-bottom {
    gap: 21px;
    padding: 16px;
    margin-top: 20px;
  }

  .contacts-title {
    font-size: 47px;
  }

  .contacts-subtitle {
    font-size: 20px;
    gap: 8px;
  }

  .vertical-line {
    border-left: none;
    border-top: 3px solid #29abe2;
    height: 0;
    width: 90px;
    margin: 10px 0;
    order: 2;
  }

  .contact-avatar-large {
    width: 80px;
    height: 80px;
    font-size: 27px;
    flex-shrink: 0;
  }

  .details-name {
    gap: 13px;
    font-size: 36px;
    font-weight: 700;
  }

  .contact-details-actions-containter {
    display: none;
  }

  .details-label {
    margin-top: 0;
    margin-bottom: 0;
    gap: 30px;
  }

  .contacts-right {
    display: none;
  }

  .contacts-right.show-contact-right {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f7f8;
    z-index: 50;
    overflow-y: auto;
  }

  .mobile-only-goback {
    display: block;
    z-index: 99999;
  }

  .back-btn {
    position: fixed;
    top: 128px;
    right: 20px;
    z-index: 100;
  }

  .contacts-container {
    display: flex;
    justify-content: center;
  }

  .add-contact-btn {
    position: fixed;
    bottom: 80px;
    right: 1px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 100;
    font-size: 0;
    justify-content: center;
  }

  .add-contact-btn img {
    margin: 0;
  }

  .contact-group-letter {
    margin-top: 17px;
  }

  .contact-item.selected {
    background-color: white;
  }

  .contact-name {
    color: black !important;
  }
}

@media (max-width: 410px) {
  .contact-data {
    width: 300px;
  }

  .input-field {
    width: 300px;
  }
}

@media (max-width: 380px) {
  .contacts-list {
    padding: 16px 16px;
  }

  .contact-item.selected {
    width: 300px;
  }

  .contact-group-letter {
    padding: 8px;
  }

  .contact-group-letter::after {
    flex: 1;
  }

  .contact-avatar {
    margin-left: 8px;
  }
}
