* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  height: 96px !important;
  padding: 0 32px;
  box-shadow: 0px 0px 14px 4px #0000000a;
}

.headline {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  flex: 1;
  margin-left: 300px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.help-btn img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

.help-btn img:hover {
  transform: scale(1.2);
}

.user-profile {
  position: relative;
  width: 56px;
  height: 56px;
}

.user-profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-sizing: border-box;
}

.user-profile span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #29abe2;
  font-weight: bold;
  font-size: 16px;
}

.user-profile:hover {
  cursor: pointer;
  background-color: #e2e6ec;
  border-radius: 50%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 96px;
  right: 20px;
  background: #2a3647;
  color: #cdcdcd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 150px;
  width: 204px;
  padding: 10px;
  transition-duration: 1s;
}

.dropdown-menu a {
  display: grid;
  color: #cdcdcd;
  text-decoration: none;
  padding: 16px;
  font-family: "Figtree", sans-serif;
  font-size: large;
  width: 100%;
}

.dropdown-menu a:hover {
  background: #2c3e50;
}

.sidebar {
  background: #2a3647;
  width: 232px;
  min-height: 100vh;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.sidebar-logo {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-nav-size {
  height: 46px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.main-nav li {
  width: 100%;
}

.main-nav a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  padding-left: 53px;
  color: rgba(205, 205, 205, 1);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  gap: 15px;
}

.main-nav li:hover,
.main-nav li.active {
  background-color: #091931;
}

.img-main-nav {
  width: 25px;
}

.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.bottom-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.bottom-nav-a {
  color: rgba(168, 168, 168, 1);
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

.bottom-nav-a:hover {
  font-weight: bold;
  color: #29abe2;
}

.mobile-nav {
  display: none;
}

.only-responsive {
  display: none !important;
}

.logo-only-responsive {
  display: none;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }

  .header {
    padding: 16px;
    height: 80px !important;
  }

  .headline {
    display: none;
  }

  .logo-only-responsive {
    display: block;
  }

  .help-btn {
    display: none !important;
  }

  .only-responsive {
    display: block !important;
  }

  .dropdown-menu {
    top: 80px;
    right: 8px;
    width: 150px;
  }

  .dropdown-menu a {
    font-size: 16px;
  }

  .nav-right {
    margin-left: auto;
  }

  .mobile-nav {
    display: flex !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #2a3647;
    justify-content: space-around;
    align-items: center;
    z-index: 9999 !important;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  }

  .mobile-nav a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 4px;
  }

  .mobile-nav img {
    width: 24px;
    height: 24px;
  }

  body {
    padding-bottom: 80px;
  }

  .user-profile {
    width: 40px;
    height: 40px;
  }

  .user-profile img {
    width: 40px;
    height: 40px;
  }

  .user-profile span {
    font-size: 14px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
