body {
  font-family: "Inter", sans-serif;
}

.error-message {
  color: #b00020;
  background-color: #ffe6e6;
  padding: 10px 14px;
  border: 1px solid #b00020;
  border-radius: 5px;
  margin-top: 12px;
  font-size: 14px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.privacy-policy-wrapper {
  position: relative;
}

.required-error-message {
  position: absolute;
  top: 110%;
  left: 0;
  font-size: 12px;
  font-weight: 400;
  color: #ff8190;
  font-family: "Poppins", sans-serif;
  display: block;
  white-space: nowrap;
  z-index: 111111;
}

.d_none {
  visibility: hidden;
}

#signup-form-container {
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 100px);
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  flex: 1;
}

.width-max {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.signup-logo {
  position: absolute;
  top: 80px;
  left: 72px;
  width: 100px;
  height: 121px;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sign-up-frame {
  background-color: white;
  width: 598px;
  height: 630px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  padding: 48px 88px 48px 88px;
}

.signup-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.back-arrow {
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.back-arrow:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.signup-header h1 {
  font-size: 48px;
  font-weight: 700;
  color: black;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.signup-header hr {
  border: 2px solid #29abe2;
  width: 150px;
}

.signup-data label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  position: relative;
}

.input-field {
  border: none;
  padding: 12px 21px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  border-radius: 10px;
  width: 348px;
  height: 48px;
  outline: none;
}

.toggle-password {
  position: absolute;
  right: 10px;
}

.imgs-input_signup {
  width: 24px;
  height: 24px;
  cursor: pointer;
  object-fit: contain;
  position: absolute;
  right: 10px;
}

.imgs-input {
  width: auto;
  padding: 12px 21px;
  filter: grayscale(50%);
}

.privacy-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #29abe2;
  gap: 4px;
  position: relative;
}

.privacy-policy input[type="checkbox"] {
  margin-right: 8px;
}

.privacy-policy label {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  border: none;
  outline: none;
}

.privacy-policy a {
  color: #29abe2;
  text-decoration: none;
}

.privacy-policy a:hover {
  text-decoration: underline;
}

.signup-btn {
  background-color: #2a3647;
  border-radius: 8px;
  border: none;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
  gap: 10px;
  padding: 15px 24px;
}

.signup-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.signup-data {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btn_center {
  display: flex;
  justify-content: center;
}

.success-message {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a3647;
  color: white;
  padding: 16px 24px;
  border-radius: 10px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1000;
}

.success-message.show {
  bottom: 50%;
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  position: relative;
}

.start {
  width: 100%;
}

@media (max-width: 1000px) {
  #signup-form-container {
    padding-top: 220px;
  }
}

@media (max-width: 660px) {
  #signup-form-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .sign-up-frame {
    width: 396px;
    margin-top: 200px;
    margin-bottom: 20px;
  }

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .header-row {
    justify-content: center;
    align-items: start;
  }

  .back-arrow {
    left: -48px;
  }

  .success-message {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a3647;
    color: white;
    padding: 16px 24px;
    border-radius: 10px;
    font-size: 16px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000;
    width: 262px;
    display: flex;
    justify-content: center;
  }

  .signup-btn {
    background-color: #2a3647;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 140px;
    height: 51px;
    font-size: 16px;
  }

  .signup-data {
    gap: 24px;
  }

  .signup-header hr {
    width: 88px;
  }
}

@media (max-width: 550px) {
  .signup-logo {
    width: 54px;
    height: 68px;
  }
}

@media (max-width: 410px) {
  .signup-logo {
    position: absolute;
    width: 64px;
    height: auto;
    top: 32px;
    left: 32px;
  }

  .sign-up-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 48px 88px;
    width: 100%;
    max-width: 310px;
  }

  .signup-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .signup-header h1 {
    margin-top: -36px;
    font-size: 32px;
  }

  .signup-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .privacy-policy {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn_center {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .signup-header hr {
    border: 1px solid #29abe2;
    width: 65px;
    margin-top: -1px;
  }

  .signup-data label {
    width: 270px;
  }

  .input-field {
    font-size: 16px;
  }

  @keyframes logoAppear {
    100% {
      width: 64px;
      height: auto;
      top: 32px;
      left: 32px;
      transform: translate(0, 0);
    }
  }

  #signup-form-container {
    padding-top: 0px;
  }
}
