@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
  margin: 0;
  padding-left: 340px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  background-color: #f6f7f8;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.header {
  margin-left: -340px;
}

.headline_2 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-top: 100px;
}

.headline_2 h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.bold {
  color: #000;
}

.title {
  font-size: 28px;
  font-weight: 400;
  color: #6c757d;
  border-left: 2px solid #29abe2;
  padding-left: 32px;
}

.container {
  display: flex;
  width: 100%;
}

/*Wrapper*/

.wrapper_content_greeting {
  display: flex;
  flex-direction: row;
  max-width: 1920px;
}

.wrapper_todo_done {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
}

.wrapper_tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
}

.wrapper_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Boxes*/

.metrics {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  width: 560px;
}

.metric-box {
  background: #ffff;
  border-radius: 30px;
  padding: 38px 19px 38px 19px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 264px;
  height: 168px;
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  cursor: pointer;
}

.metric-box img {
  width: 69px;
  height: 69px;
  margin-bottom: 10px;
}

.metric-box h2 {
  font-size: 48px;
  font-weight: 600;
  color: black;
  margin: 10px 0;
}

.metric-box p {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

/*Box tasks*/

.metric-box-tasks {
  background: #ffff;
  border-radius: 30px;
  padding: 8px 14px 8px 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 148px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 26px;
  cursor: pointer;
}

.metric-box-tasks h2 {
  font-size: 48px;
  font-weight: 600;
  color: black;
  margin: 10px 0;
}

.metric-box-tasks p {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

/*Box urgent*/

.metric-box-urgent {
  background: #ffff;
  border-radius: 30px;
  padding: 8px 14px 8px 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 560px;
  height: 168px;
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.metric-box-urgent h2 {
  font-size: 48px;
  font-weight: 600;
  color: black;
  margin: 10px 0;
}

.metric-box-urgent p {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.deadline-info {
  border-left: 2px solid #ccc;
  padding-left: 40px;
}

.deadline-info p {
  margin: 5px 0;
  padding-top: 8px;
}

.deadline-info p:first-child {
  color: black;
  font-weight: bold;
}

/*Greeting*/

.greeting {
  margin-top: 40px;
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  position: relative;
  top: 400px;
  padding: 24px;
}

.highlight {
  color: #29abe2;
  font-weight: 700;
  font-size: 56px;
}

/*Hover*/

.metric-box:hover,
.metric-box-urgent:hover,
.metric-box-tasks:hover {
  background-color: #2a3647;
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.metric-box:hover h2,
.metric-box:hover p,
.metric-box-urgent:hover h2,
.metric-box-urgent:hover p,
.metric-box-tasks:hover h2,
.metric-box-tasks:hover p {
  color: white !important;
}

.metric-box:hover img[alt="Pen"] {
  content: url("/assets/img/pen_white.png");
}

.metric-box:hover img[alt="Check"] {
  content: url("/assets/img/check_white.png");
}

.metric-box-urgent:hover img {
  filter: none;
  background-color: transparent;
}

.only-responsive {
  display: none !important;
}

hr {
  display: none;
}

@media (max-width: 1200px) {
  body {
    padding-left: 0px !important;
    max-width: 100vw;
  }

  .sidebar {
    display: none;
  }

  .mobile-nav {
    display: flex !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #2a3647;
    justify-content: space-around;
    align-items: center;
    z-index: 9999 !important;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
  }

  .container {
    display: none;
    margin: 0 auto;
    padding-top: 0px;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    margin-left: -6px;
  }

  .headline_2 {
    padding-top: 0px;
  }

  .wrapper_content_greeting {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
    padding-bottom: 60px;
  }

  .greeting {
    position: static;
    top: auto;
    text-align: center;
    margin-top: 0;
    padding-top: 88px;
    font-size: 36px;
  }

  .highlight {
    font-size: 47px;
  }

  .headline_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .title {
    border-left: none;
    padding: 0px;
  }

  hr {
    display: flex;
    border: 2px solid #29abe2;
    width: 120px;
  }
}

@media (max-width: 590px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .wrapper_todo_done {
    width: 100%;
    gap: 12px;
  }
  .metrics {
    width: 100%;
  }

  .metric-box {
    width: 164px;
    height: 110px;
    display: flex;
    border-radius: 20px;
  }

  .metric-box-urgent {
    width: 100%;
    height: 110px;
    border-radius: 20px;
  }

  .wrapper_tasks {
    width: 100%;
  }

  .metric-box-tasks {
    border-radius: 20px;
    width: 116px;
    height: 116px;
  }

  .metric-box img {
    width: 40px;
    height: 40px;
  }

  .wrapper_box {
    width: 40px;
    height: 73px;
  }

  .metric-box h2 {
    font-size: 47px;
    padding-top: 18px;
    margin-bottom: 0px;
  }

  .metric-box p {
    font-size: 14px;
    padding-bottom: 28px;
  }

  .metric-box-urgent img {
    width: 40px;
    height: 40px;
    margin-left: 24px;
  }

  .wrapper_box {
    width: 40px;
    height: 73px;
  }

  .metric-box-urgent h2 {
    font-size: 47px;
    padding-top: 18px;
    margin-bottom: 0px;
  }

  .metric-box-urgent p {
    font-size: 14px;
    padding-bottom: 28px;
  }

  .deadline-info {
    border-left: 2px solid #ccc;
    width: 165px;
    height: 56px;
  }

  .deadline-info p {
    margin-top: -6px;
    margin-bottom: -24px;
  }

  .metric-box-tasks h2 {
    font-size: 47px;
    margin-bottom: 0px;
  }

  .metric-box-tasks p {
    font-size: 14px;
    padding-bottom: 28px;
  }
}

@media (max-width: 400px) {
  .headline_2 {
    padding-left: 24px;
  }

  .container {
    height: 100vh;
    overflow-y: auto;
  }

  .headline_2 h1 {
    font-size: 47px;
  }

  .title {
    font-size: 22px;
  }

  .wrapper_todo_done {
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
  }

  .metrics {
    margin-top: 20px;
  }

  .metric-box {
    width: 142px;
    height: 100px;
    margin-bottom: 13px;
  }

  .metric-box-urgent {
    width: 300px;
    margin-left: 24px;
    gap: 12px;
  }

  .metric-box img {
    margin-bottom: 0px;
  }

  .metric-box-urgent img {
    margin-left: 18px;
  }

  .deadline-info {
    padding-left: 12px;
    gap: 2px;
    border-left: 1px solid #ccc;
  }

  .wrapper_tasks {
    width: 300px;
    margin-left: 24px;
  }

  .metric-box-tasks {
    width: 94px;
    margin-top: 13px;
  }
}

@media (max-height: 600px) {
  .container {
    padding-top: 120px;
    overflow-y: auto;
    padding-bottom: 40px;
  }
}
