<header class="header">
  <!-- Language Switch zuerst -->
  <div class="lang-toggle desktop-lang-toggle" *ngIf="!isMobile">
    <button class="lang" [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">EN</button>
    <button class="lang" [class.active]="currentLang === 'de'" (click)="switchLanguage('de')">DE</button>
  </div>

  <!-- Navigation -->
  <nav class="nav-links" *ngIf="!isMobile">
    <a href="#about">About me</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
  </nav>

  <!-- Logo jetzt rechts -->
  <div class="logo" *ngIf="!isMobile">
    <img src="../../assets/Logo.png" alt="Logo" />
  </div>

  <!-- Mobile Hamburger -->
  <div class="hamburger" *ngIf="isMobile" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Mobile Menu -->
  <div class="mobile-menu" *ngIf="isMobile && menuOpen">
    <a href="#about" (click)="closeMenu()">About me</a>
    <a href="#skills" (click)="closeMenu()">Skills</a>
    <a href="#projects" (click)="closeMenu()">Projects</a>
    <div class="lang-toggle">
      <button class="lang" [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">EN</button>
      <button class="lang" [class.active]="currentLang === 'de'" (click)="switchLanguage('de')">DE</button>
    </div>
  </div>
</header>
