.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
  background: linear-gradient(90deg, #1c1c1c, #08463b);
  color: #d9d9d9;
  font-family: "Fira Code", monospace;
  height: 98px;
  position: relative;
}

.lang-toggle {
  display: flex;
  gap: 0.5rem;
}

.lang-toggle .lang {
  padding: 6px 12px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: #d9d9d9;
  font-size: 14px;
}

.lang-toggle .lang.active {
  background-color: #3dcfb6;
  color: #000;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 32px;
  margin-left: 48px;
  font-size: 22px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #3dcfb6;
}

.logo img {
  width: 120px;
}
