<footer class="footer">
  <div class="left">
    <img src="../../assets/Logo.png" alt="Judith Lütke Logo" class="logo" />
    <div class="info">
      <p>Web Developer</p>
      <p>Cologne Germany</p>
    </div>
  </div>

  <div class="center">
    <p>© Judith Lütke {{ currentYear }}</p>
  </div>

  <div class="right">
    <ul>
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="mailto:judith@example.com">Email</a></li>
      <li><a href="#">Legal Notice</a></li>
    </ul>
  </div>
</footer>
