<section class="hero">
  <div class="hero-content">
    <h2>Frontend Developer</h2>
    <h1>Judith Lütke</h1>

    <div class="hero-buttons">
      <button>Check my work</button>
      <button>Contact me</button>
    </div>
  </div>


  
<div class="ribbon">
  <div class="ribbon-track">
    <span>• &nbsp; Available for remote work</span>
    <span>• &nbsp; Frontend Developer</span>
    <span>• &nbsp; Based in Cologne</span>
    <span>• &nbsp; Open to opportunities</span>
  
    <span>• &nbsp; Available for remote work</span>
    <span>• &nbsp; Frontend Developer</span>
    <span>• &nbsp; Based in Cologne</span>
    <span>• &nbsp; Open to opportunities</span>
  </div>
</div>


  <div class="socials">
    <a href="mailto:example@email.com" class="email">example&#64;email.com</a>
    <a href="https://github.com/..." target="_blank"><img src="../../assets/Github.png" alt="GitHub" class="icon" /></a>
    <a href="https://linkedin.com/..." target="_blank"><img src="../../assets/In.png" alt="LinkedIn" class="icon" /></a>
    <div class="border"></div>
  </div>
</section>
