.projects-section {
  padding: 4rem 1.5rem;
  max-width: 1020px;

  .section-label {
    font-family: "Karla", monospace;
    color: #3dcfb6;
    font-size: 24px;
    letter-spacing: 0%;
    display: block;
    line-height: 100%;
    margin-bottom: 24px;
    font-weight: 700;
  }

  h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
    margin-bottom: 2rem;
    font-family: "Fira", monospace;
    letter-spacing: -3%;

    span {
      color: #3dcfb6;
    }
  }

  p {
    font-family: "Karla", monospace;
    max-width: 600px;
    color: #ffff;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 3rem;
    font-weight: 400;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    position: relative;
  }

  a.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #00f5d4;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: #174c47;

      .project-name .arrow {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .project-name {
      font-weight: bold;
      font-size: 1.75rem;
      font-family: monospace;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .arrow {
        opacity: 0;
        transform: translateX(-5px);
        transition: all 0.3s ease;
        color: #fff;
        font-size: 1.25rem;
      }
    }

    .project-tags {
      font-size: 1rem;
      color: #ccc;
      font-family: monospace;
      text-align: right;
    }

    .project-image {
      position: absolute;
      right: -460px;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 59, 54, 0.25);
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #00f5d4;
      z-index: 10;
      pointer-events: none;

      img {
        width: 420px;
        height: auto;
        border-radius: 0.5rem;
        box-shadow: 0 0 20px rgba(0, 245, 212, 0.2);
        display: block;
      }
    }
  }
}
