<section id="skills" class="skill-section">
  <div class="text-box">
    <span class="section-label">Technologies</span>
    <h2>Skill <span>Set</span></h2>
    <p>
      A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasise your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development.
    </p>

    <p class="highlight">
      <strong>You need <span>another skill?</span></strong>
    </p>
    <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>

    <button>Let’s Talk</button>
  </div>

  <div class="icon-grid">
    <div class="icon-item"><img src="../../assets/icons/html.png" alt="HTML" /><span>HTML</span></div>
    <div class="icon-item"><img src="../../assets/icons/css.png" alt="CSS" /><span>CSS</span></div>
    <div class="icon-item"><img src="../../assets/icons/js.png" alt="JavaScript" /><span>JavaScript</span></div>
    <div class="icon-item"><img src="../../assets/icons/md.png" alt="Material Design" /><span>Material Design</span></div>
    <div class="icon-item"><img src="../../assets/icons/ts.png" alt="TypeScript" /><span>TypeScript</span></div>
    <div class="icon-item"><img src="../../assets/icons/angular.png" alt="Angular" /><span>Angular</span></div>
    <div class="icon-item"><img src="../../assets/icons/firebase.png" alt="Firebase" /><span>Firebase</span></div>
    <div class="icon-item"><img src="../../assets/icons/git.png" alt="GIT" /><span>GIT</span></div>
    <div class="icon-item"><img src="../../assets/icons/api.png" alt="Rest API" /><span>Rest-Api</span></div>
    <div class="icon-item"><img src="../../assets/icons/scrum.png" alt="Scrum" /><span>Scrum</span></div>
    <div class="icon-item"><img src="../../assets/icons/gm.png" alt="Growth Mindset" /><span>Growth mindset</span></div>
  </div>
</section>
