.skill-section {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: flex-start;
  background-color: #121212;
  color: #fff;
  max-width: 2100px;

  .text-box {
    flex: 1 1 400px;
    background: #1f2e2e;
    border-radius: 30px;
    border: 1px solid #3dcfb6;
    padding: 4rem 1.5rem;
    font-family: "Inter", sans-serif;
    text-align: justify;
    width: 520px;
    max-width: 90vw;
    margin-left: 20px;

    .section-label {
      font-size: 24px;
      color: #3dcfb6;
      font-family: "Karla", monospace;
    }

    h2 {
      font-size: 64px;
      font-weight: 700;
      margin: 0.5rem 0 1.5rem;
      font-family: "Fira", monospace;
      letter-spacing: -3%;

      span {
        color: #3dcfb6;
      }
    }

    p {
      margin-bottom: 1.5rem;
      font-size: 18px;
      line-height: 120%;
      font-family: "Karla", monospace;
      font-size: 18px;

      &.highlight {
        font-family: monospace;
        font-size: 24px;
        margin-top: 2rem;
        font-family: "Fira", monospace;
        line-height: 120%;
        letter-spacing: 0%;

        strong {
          font-weight: 700;

          span {
            color: #3dcfb6;
          }
        }
      }
    }

    button.lets-talk {
      margin-top: 2rem;
      padding: 0.8rem 1.8rem;
      border: 2px solid #fff;
      background: transparent;
      color: #fff;
      font-weight: 500;
      border-radius: 999px;
      font-family: monospace;
      font-size: 1rem;
      cursor: pointer;
      overflow: hidden;
      position: relative;

      .text {
        display: inline-block;
        transition: transform 0.4s ease, opacity 0.4s ease;
      }

      &:hover .text {
        transform: translateX(-150%);
        opacity: 0;
      }
    }

    @keyframes slideOut {
      to {
        transform: translateY(-50%) translateX(-150%);
        opacity: 0;
      }
    }
  }

  .icon-grid {
    flex: 1 1 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max(22%, 100px)));
    gap: 2rem;
    justify-content: center;
    padding-right: 24px;

    .icon-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        width: 64px;
        height: 64px;
        margin-bottom: 0.5rem;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }

      span {
        color: #ffffff;
        white-space: nowrap;
        font-family: "Fira", monospace;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -3%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 38px !important;
  }
  .section-label {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 510px) {
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    padding-right: 0px !important;
    justify-items: center;
    gap: 0.2rem !important;

    .icon-item {
      img {
        width: 32px !important;
        height: 32px !important;
      }

      span {
        font-size: 14px !important;
      }
    }
  }
  .text-box {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .skill-section {
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 950px) {
  .text-box {
    margin-left: 0 !important;
  }
}
