<aside class="sidebar">
    <div class="sidebar-logo">
        <a href="/index.html" class="start">
            <img src="../assets/img/logo_sidemenu.png" alt="logo">
        </a>
    </div>

    <nav class="main-nav">
        <ul>
            <li class="main-nav-size">
                <a href="/html/summary.html">
                    <img class="img-main-nav" src="../assets/img/summary.png" alt="Summary Icon">
                    <span>Summary</span>
                </a>
            </li>
            <li class="main-nav-size">
                <a href="/html/add_task.html">
                    <img class="img-main-nav" src="../assets/img/addtask.png" alt="Add Task Icon">
                    <span>Add Task</span>
                </a>
            </li>
            <li class="main-nav-size">
                <a href="/html/board.html">
                    <img class="img-main-nav" src="../assets/img/board.png" alt="Board Icon">
                    <span>Board</span>
                </a>
            </li>
            <li class="main-nav-size">
                <a href="/html/contacts.html">
                    <img class="img-main-nav" src="../assets/img/contacts.png" alt="Contacts Icon">
                    <span>Contacts</span>
                </a>
            </li>
        </ul>
    </nav>

    <nav class="bottom-nav">
        <ul>
            <li><a class="bottom-nav-a" href="/html/privacy_policy.html">Privacy Policy</a></li>
            <li><a class="bottom-nav-a" href="/html/legal_notice.html">Legal Notice</a></li>
        </ul>
    </nav>
</aside>