<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="icon" href="/assets/img/favicon.png" />

  <link rel="stylesheet" href="/css/board.css">
  <link rel="stylesheet" href="/css/add-task.css">
  <link rel="stylesheet" href="/css/add-task-responsive.css">
  <link rel="stylesheet" href="/css/desktop_template.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="../js/add_task.js" defer></script>
  <script src="../js/template.js"></script>

  <title>Task form</title>
</head>

<body>
  <section class="add-task-header-wrapper">
    <h1 class="add-task-title">Add Task</h1>
  </section>
  
  <section class="add-task-content">
    <form method="POST" class="add-task-form d-flex-space-between size-20 gap-24">
      <div class="form-inputs d-flex-column gap-24">
  
        <div class="task-title-input-wrapper d-flex-column gap-8">
          <label for="task-title">Title <span class="red">*</span></label>
          <input class="task-input-fields size-20 br-10" type="text" id="task-title" name="task-title"
            placeholder="Enter a title" minlength="4"
            onfocus="checkTitleInputValue('task-title-error', 'value-length-error', 'task-title')"
            oninput="checkTitleInputValue('task-title-error', 'value-length-error', 'task-title')" required />
          <span class="required-error-message d_none" id="task-title-error">This field is required!</span>
          <span class="required-error-message d_none" id="value-length-error">Value too short!</span>
        </div>
  
        <div class="task-description-input wrapper d-flex-column gap-8">
          <label for="task-description">Description</label>
          <textarea class="task-description-text size-20 br-10" id="task-description" name="task-description"
            placeholder="Enter a description" minlength="4"
            oninput="checkDescriptionInput('task-description', 'description-value-length-error')"
            onfocus="checkDescriptionInput('task-description', 'description-value-length-error')"></textarea>
          <span class="required-error-message d_none" id="description-value-length-error">Value too short!</span>
        </div>
  
        <div class="date-picker-wrapper d-flex-column gap-8">
          <label for="due-date">Due Date <span class="red">*</span></label>
          <input class="date-picker size-20 br-10" type="text" id="due-date" name="due-date"
            placeholder="dd/mm/yyyy" maxlength="10" required />
          <span class="required-error-message d_none" id="due-date-required-error-message">This field is required!</span>
          <span class="required-error-message d_none" id="due-date-time-error-message">Date must be in the future!</span>
          <span class="required-error-message d_none" id="date-format-error-message">Expected format dd/mm/yyyy!</span>
        </div>
  
      </div>
  
      <div class="separator"></div>
  
      <div class="form-inputs form-inputs-right d-flex-column gap-24">
  
        <div class="priority-wrapper d-flex-column gap-8">
          <label for="priority">Priority</label>
          <div class="d-flex-space-between gap-8">
            <div id="urgent" class="priority-labels d-flex-center gap-8 br-10 default-prio-bg" onclick="changePriorityLabelColors('urgent')">
              <span>Urgent</span>
            </div>
            <div id="medium" class="priority-labels d-flex-center gap-8 br-10 default-prio-bg" onclick="changePriorityLabelColors('medium')">
              <span>Medium</span>
            </div>
            <div id="low" class="priority-labels d-flex-center gap-8 br-10 default-prio-bg" onclick="changePriorityLabelColors('low')">
              <span>Low</span>
            </div>
          </div>
        </div>
  
        <div class="assigned-to-wrapper d-flex-column gap-8">
          <label for="assigned-to">Assigned To</label>
          <div class="dropdown-field-wrapper">
            <div class="dropdown-input-wrapper br-10 d-flex-center" onclick="toggleDropdownSelection('assigned-to-dropdown', event)">
              <input id="assigned-to-input" class="dropdown-input size-20" type="text" placeholder="Select contacts to assign"
                oninput="searchUsersToAssign('assigned-to-dropdown')" />
              <span id="assigned-to-dropdown-closed" class="dropdown-icon-closed"></span>
              <span id="assigned-to-dropdown-open" class="dropdown-icon-open d_none"></span>
            </div>
            <div id="assigned-to-dropdown" class="dropdown-wrapper d_none">
              <ul id="assigned-to-users-list" class="dropdown d-flex-column"></ul>
            </div>
            <div id="assignees-list" class="d-flex-center d_none"></div>
          </div>
        </div>

        <div class="category-wrapper d-flex-column gap-8">
          <label for="category">Category <span class="red">*</span></label>
          <div class="dropdown-field-wrapper">
            <div class="dropdown-input-wrapper br-10 d-flex-center" onclick="toggleDropdownSelection('category-dropdown', event)">
              <input id="category" class="dropdown-input size-20" type="text" placeholder="Select task category" disabled required />
              <span id="category-dropdown-closed" class="dropdown-icon-closed"></span>
              <span id="category-dropdown-open" class="dropdown-icon-open d_none"></span>
            </div>
            <span id="category-error" class="required-error-message d_none">This field is required</span>
            <div id="category-dropdown" class="dropdown-wrapper categories-dropdown-wrapper d_none">
              <ul class="dropdown d-flex-column">
                <li class="categories br-10" onclick="selectCategory('technical-task')"><span>Technical Task</span></li>
                <li class="categories br-10" onclick="selectCategory('user-story')"><span>User Story</span></li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="subtasks-wrapper d-flex-column gap-8">
          <label for="subtasks">Subtasks</label>
          <div class="subtask-input-wrapper d-flex-space-between br-10" onclick="moveCursorToSubtaskInput()">
            <input id="subtasks" type="text" class="subtask-input size-20 br-10" placeholder="Add new Subtask"
              oninput="evaluateSubtaskInput('subtask-value-length-error-message')"
              onkeydown="createSubtaskOnKeyPress('subtasks', event, 'subtask-value-length-error-message')" />
            <span id="add-subtask-icon" class="add-subtask-icon"></span>
            <div id="confirm-input-icons" class="confirm-input-icons d-flex-space-between d_none">
              <span class="clear-icon" onclick="clearSubtaskInput('subtasks', 'subtask-value-length-error-message')"></span>
              <span class="confirm-input-icons-separator">|</span>
              <span class="confirm-icon" onclick="addSubtask('subtasks', 'subtask-value-length-error-message')"></span>
            </div>
          </div>
          <span id="subtask-value-length-error-message" class="required-error-message d_none">Value too short!</span>
          <div class="subtask-list-wrapper d-flex-column">
            <ul id="subtask-list" class="subtask-list"></ul>
          </div>
        </div>
  
      </div>
    </form>
    <div style="display: none;" class="respon-text">
      <span class="red respon-text">*</span>
      <span class="text-bottom respon-text">This field is required</span>
    </div>
  </section>
  
  <section class="add-task-footer d-flex-space-between">
    <div class="text-container d-flex-center">
      <span class="red respon-d-none">*</span>
      <span class="text-bottom">This field is required</span>
    </div>
    <div class="d-flex-space-between gap-16">
      <button class="clearBtn d-flex-space-between size-20 br-10" onclick="resetTaskHTML()">
        <span>Clear</span><span class="cancel-icon"></span>
      </button>
      <button class="createBtn d-flex-space-between size-20 br-10" onclick="createTask()">
        <span>Create Task</span><span class="checkmark-icon"></span>
      </button>
    </div>
  </section>
  

<script src="../js/board.js"></script>
<script src="../js/add_task.js"></script>
</body>