body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #111;
  color: #fff;
  padding: 0 2rem;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #3dcfb6;
  border-radius: 10px;
  border: 2px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f5d4;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3dcfb6 #121212;
}
:host {
  display: block;
  height: 100%;
}

* {
  box-sizing: border-box;
}
